#pacientes-lista {
    color: white;
    padding: 20px;
    height: 100%;
    background-color: var(--roxo-fundo); /* Fundo mais escuro */
}

#tudo {
    background-color: var(--roxo-fundo);
    min-height: 100vh; /* Garante que cubra toda a altura da janela */
    display: flex;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -10px;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
}

.btn-back, .btn-search {
    background-color: #333;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.paciente-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--roxo-escuro); /* Fundo de cada item do paciente */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.paciente-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.paciente-info {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
}

.paciente-botoes {
    display: flex;
    gap: 10px;
}

.btn-opcao {
    background: linear-gradient(90deg, rgba(119,0,255,1) 0%, rgba(166,58,255,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.form-container {
    background-color: var(--roxo-fundo);
    padding: 10px;
    padding: 15px;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.form-group {
    flex: 1;
    margin-right: 10px;
}
  
.form-group:last-child {
    margin-right: 0;
}
  
label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}
  
input, select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
  
.submit-button {
    background-color: var(--roxo-destaque);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
}

.buttonDados {
    background-color: var(--roxo-destaque);
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    width: 100px;
    height: 40px;
}

.delete-button {
    background-color: var(--vermelho-cancelar);
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    width: 100px;
    height: 40px;
}

.buttonDados {
    padding: 10px 20px;
    background-color: var(--roxo-destaque);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaçamento entre os botões */
}

.buttonDados:last-child {
    margin-right: 0; /* Remove o espaçamento no último botão */
}

.delete-button {
    padding: 10px 20px;
    background-color: var(--vermelho-cancelar);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adiciona um espaçamento do botão excluir */
}

.form-input,
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-select {
    appearance: none; /* Remove o estilo padrão dos navegadores no select */
    background-color: #fff;
}

.form-input:disabled,
.form-select:disabled {
    background-color: #f0f0f0; /* Cor de fundo para campos desabilitados */
    cursor: not-allowed;
}

