.tudo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--roxo-fundo);
    color: whitesmoke;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1; /* Permite que essa parte cresça e ocupe o espaço restante */
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--roxo-fundo);
    margin-top: auto; /* Faz o footer ficar na parte inferior */
}

.btnSalvar {
    width: 115px; /* Ajustado para que a largura do botão seja consistente */
    background-color: var(--roxo-destaque);
    border-radius: 15px;
    color: whitesmoke;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btnVoltar {
    width: 115px; /* Ajustado para que a largura do botão seja consistente */
    background-color: var(--vermelho-cancelar);
    border-radius: 15px;
    color: whitesmoke;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centralizar os botões */
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
}

img {
    width: 170px;
}

.checkstyle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #c0c0c0; /* Cor cinza padrão */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px; /* Espaçamento entre os botões */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

.button :hover {
    background: var(--roxo-gradiente);
}

.button-checked {
    background: var(--roxo-gradiente); /* Cor para o botão de check */
    color: white;
}
  
.button-checked-times {
    background: var(--vermelho-cancelar); /* Cor para o botão de times */
    color: white;
}

.button-hovered {
    background: var(--roxo-gradiente); /* Cor para o botão de check */
}
  
.button-hovered-times {
    background: var(--vermelho-cancelar); /* Cor para o botão de times */
}

/* Criando CSS para a tela de Avaliação do Humor */
.avaliacao-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px;
}

.avaliacao-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Proximidade dos itens */
}

.avaliacao-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Para que cada item ocupe o mesmo espaço */
}

.emoji {
    font-size: 40px; /* Tamanho dos emojis */
}

.avaliacao-text {
    font-size: 18px; /* Tamanho do texto */
    margin: 5px 0; /* Margem entre o texto e as estrelas */
}

.stars-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    cursor: pointer;
    margin: 0 2px; /* Espaçamento entre estrelas */
    width: 50px; /* Ajustando a largura das estrelas */
    height: 50px; /* Ajustando a altura das estrelas */
}
